/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

@font-face {
  font-family: ArchitectsDaughter;
  src: url(/ArchitectsDaughter.ttf);
}

/* purgecss start ignore */
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f7fafc;
}
/* purgecss end ignore */
